*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: muli;
    font-size: 62.5%;
}

main{
   
    width: 90%;
    margin: auto;
}

.content-org{
    margin-top: 140px;
    width: 100%;
    display: flex;
    margin-bottom: 40PX;
}

.activate{
    width: 200px;    
}

.shadow{
    box-shadow: 5px 4px 3px #c5c3c3;
}

.description{
    padding-left: 40px;
    display: grid;
    gap: 12px;
    place-content: center;
}

.title{
    color: rgb(235,28, 45);
    font-size: medium;
}

.sub-title{
    font-size: 1.8rem;
    font-weight: 700;
}

.content-media{
    width: 80%;
    margin: auto;
}

.sub-content-media{
    display: flex;
    place-items: center;
}


.sub-content-media  .img{
    margin: auto;
    width: 400px;
    margin-bottom: 60PX;
    object-fit: cover;
    

}

