*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: muli;
    font-size: 62.5%;
}


strong{
    color: rgb(235, 28, 45);
}

.tittle {
    margin-top: 200px;
    width: 100%;
}


h3{
    font-size: 3.5rem;
    color:rgb(40, 42, 133);
    text-align: center;
    margin-bottom: 0;
}

.main-container {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    
}

.cards-container{
    width: 80%;   
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-items: center;
    
}

.img{
    width: 300px;
}

.cursor{
    cursor: pointer;
}