*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html{
    font-size: 62.5%;
    font-family: muli;
    font-weight: 300;
    font-style: normal;
    

    background-image: url('/img/imglogin/Ima_Captura de datos.jpg');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}



.container-principal{
    width: 80%;
    height: 90vh;
    display: flex; 
    place-content: center;
    
}

.container{
    width: 100%;
    height: 60vh;
    place-content: center;
}

.form-container{
    width: 60%;
    height: 60vh;
}

h1{
    font-size:3rem;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
    color: #282a67;
}

form {
    border: solid 2px #C7C7C7;

}

div {
    width: 40%;
    height: 60px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

label {
     font-size: 2.0rem;
     font-weight: 700;
     color: #232830;
}

input {
    height: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #C7C7C7 ;
    
}

.btn {
    margin: auto;
     width: 50%;
     height: 30px;
     border: none;
     border-radius: 8px;
     background-color: #ACD9B2;
     font-weight: bold;
     cursor: pointer;
}

.btn:hover { 
    opacity: 0.6;

}


a { 
    text-decoration: none;
    color: black;
   
}


