
    html{
        font-size: 62.5%;

    }
    *{
        box-sizing: border-box;
        margin:  0;
        padding: 0;
    }

.bgimg{
    background-image: url('/img/imglogin/Ima_inicio_sesion.jpg');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.container{
    padding-top: 200px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-login{
    width: 400px;
    height: 380px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}    

img{
    width: 150px;
    height: 150px;
    
}

h2{
    font-size: 2.5rem;
    padding: 10px;
}


input{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    border:none;
    border: 2px solid rgb(206, 205, 205);
    border-radius: 10px;
    font-size: 1.6rem;
    text-align: center;
    

}

button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: rgb(124, 226, 230);
    margin-left: 200px;
    
    

}

 
