
<meta name="title" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link type="image/x-icon" href="" rel="icon" />
<title></title>

<link href="/css/estilos.css" rel="stylesheet" />
<link href="/css/responsive.css" rel="stylesheet" />

<header>

        <div class="contenedor">

            <figure class="col-xl-2 col-md-9 Hd-Logo">
                <a href="https://creditofacil.com.mx/"><img src="https://creditofacil.com.mx/img/statics/20180221114116-PapelOro-logo.png" alt=""></a>
            </figure>

            <div class="col-xl-10 col-md-3 menuCont">

                <nav>

                    <ul>
                        {{!-- <li class="subMenu">
                            <a><span>Call center</span></a>
                            <ul class="children">

                                <li><a href="https://creditofacil.com.mx/Tradicional">Pago voluntario</a></li>

                            </ul>
                        </li> --}}


                        <li class="Menu">

                           <button ><a type="button" class="px-3 btn " href="../logout">Cerrar Sesión</a>    
                        </li>


                    </ul>

                </nav>

                {{!-- <div class="menu_bar">

                    <div class="bt_menu"><span>Menú</span></div>

                </div> --}}

            </div>

        </div>

    </header>