<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="image/x-icon" href="https://www.creditofacil.com.mx/img/statics/20180221114134-PapelOro-favicon.ico" rel="icon" />
  <link rel="stylesheet" href="https://use.typekit.net/sgz1xza.css">
<title>Inicio | Cobranza</title>
</head>
<body>

  
  {{{ body }}}
  
</body>
</html>