<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<link rel="stylesheet" href="/css/signup.css">

<div class="container">
  
  <div class="form-container">

    <h3 class="title">Usuario Nuevo</h3>

  
    <form action="/signup" method="POST">
      
      <div class="">
        <label for="">Nombre:</label>
        <input type="type" name="fullname" placeholder="Full Name" required autofocus>
      </div>

      <div class="">
        <label for="">Correo:</label>
        <input type="email" name="username" id="email" placeholder="email@creditofacil.com.mx" required>
        <h2 id="result"></h2>
      </div>

      <div class="">
        <label for="">Contraseña:</label>
        <input type="password" name="password" placeholder="Password" required>
      </div>

      <div class="">
        
        <button class="btn ">
          Siguiente
        </button>
      </div>

    </form>

    

  </div>

</div>

<script src="/js/validacionPerfil.js"></script>